*{
margin: 0;
padding: 0;
box-sizing: border-box;
 font-family: "Roboto", sans-serif;
}

.container{
  max-width: 1500px;
  
}

.hero{
  min-height: 100vh;
  width: 100%;
  
}

header{
  width: 100%;
  min-height: 70px;
  position: fixed;
  z-index: 1000;
  
  background-color: #e0dcdc;
  color: #00000033  ;
  padding: 0 1em;
  display: grid;
  align-items: center;
 grid-template-columns: auto 1fr auto;
 top: 0;
 
}

header a{
  text-decoration: none;
  color: black;
}
header .logo-anchor{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
   gap: 0.5em;
  font-weight: 900;
}

header .logo{
  width: 1.2em;
 
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-weight: 400;
}


.btns{
  display: flex;

}

.login-btn{
background-color: transparent;
  border: none;
   padding: 0.7em 0.5em;
   font-weight: 400;

}

.trial-btn{
  padding: 0.7em 0.9em;
  background-color: #0066FF;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 3px;
}
