* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.yellow{
  background-color: yellow;
}
/* hero section starts */

.hero {
  min-height: 100vh;
  width: 100%;
}

/* header starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  z-index: 1000;
  background-color: #e0dcdc;
  color: #00000033;
  padding: 1em 1em;
}

.header-container {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
}
header .logo-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  gap: 0.5em;
  font-weight: 900;
}

header .logo {
  width: 1.2em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 400;
  transition: all 0.5s ease-in;
}

nav a:hover,
.trial-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btns {
  display: flex;
}

.login-btn {
  background-color: transparent;
  border: none;
  padding: 0.7em 0.5em;
  font-weight: 400;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.trial-btn {
  padding: 0.7em 0.9em;
  background-color: #0066ff;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 3px;
}
/* header ends */
.hero-section {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}
.content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}
.content-child1,
.content-child2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.hero-sec-text h1 {
  font-size: 2em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-weight: 900;
}
.hero-sec-text p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 1em;
}
.hero-sec-btn {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
}
.hero-sec-btn .email {
  width: 250px;
  height: 35px;
  padding: 0.3em;
  border: 1px solid;
  border-right: none;
}
.blue-btn {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -4px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.trial-options ul {
  padding: 0 1em;
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
  white-space: nowrap;
}

.profile-container {
  border: none;
  box-shadow: 3px 3px 3px rgba(124, 123, 123, 0.2);
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile-img img {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.profile-text {
  display: flex;
  flex-direction: column;
}
.profile-text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.profile-text-content .profile-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.display-img {
  display: flex;
  max-width: 100%;
}
.front-img img {
  animation: float 4s ease-in-out infinite;
}

.display-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.back-img {
  display: flex;
  flex-direction: column;
}
.back-img img:nth-child(1) {
  animation: float 4.5s ease-in-out infinite;
  animation-delay: 0.5s;
}

.back-img img:nth-child(2) {
  animation: float 5s ease-in-out infinite;
  animation-delay: 1s;
}
.logos {
  margin: 1em auto;
}

.logos img {
  max-width: 100%;
  height: auto;
}
/* hero section ends */

/* section2 starts */
.section2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4em;
   margin-bottom: 4em;
}

.widgets {
  padding: 1em;
}
.widgets h2 {
  margin-bottom: 1em;
}

.item {
display: flex;
align-items: center;
gap: 15px;
margin-bottom: 10px;
}
.special-item{
  color:  #0066FF;
;
}

/* section2 ends */

/* section3 starts */
.section3{
  background: #EEF1F7;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 3em 1em;
gap: 20px;
}
.section3-content{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;


}
.social-icons{
display: flex;
flex-wrap: wrap;
gap: 10px;
align-items: center;
justify-content: center;
}
.icon{
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 15px;
background-color: white;

}
.icon img{
  width: 50px;
  margin-bottom: 5px;
}
.icon .bold{
  font-weight: 700;
  display: block;
  text-align: center;
 
}

/* section3 ends */

/* section4 starts */
.section4{
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 2em;
  
}
.cards{
  max-width: 300px;
  background-color:#EEF1F7 ;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 0;
 height: 200px;
 line-height: 1.3;
 display: flex;
justify-content: center;
 flex-direction: column;
 gap: 10px;
}
.cards span{
  display: flex;
  align-items: flex-end;
 gap: 10px;
 font-weight: 700;
padding-top: 10px;

}
.sec4-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 1em;
}
.sec4-profile .profile{
display: flex;
align-items: center;
gap: 10px;
}

/* section4 ends */

/* section5 starts */
.section5{
  background: #111827;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 2em 2em;
color: white;
gap: 30px;
line-height: 1.3;
}

.sec5-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  gap: 10px;
 
}
.sec5-content h2, .sec6-content h2,.section8 h2,.sec9-content h2,.sec10-content h2{
  font-weight: 700;
  font-size: 2em;
}

.sec5-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.sec5-card{
  display: flex;
  flex-direction: column;
  position: relative;
width: 250px;
height: 300px;
border-radius: 15px;
overflow: hidden;

}
.card-p1{
  width: 100%;
  height: 60%;
  background-color: #EEF1F7;
   position: relative;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;

}
.card-p1 .img1{
  position: absolute;
  top: -40px;
  right: 0;
}

.card-p1 .img2{
    position: absolute;
    bottom: 5px;
    left: 10px;
}
.card-p2{
background-color: white;
display: flex;
flex-direction: column;
width: 100%;
height: 40%;
color: black;
justify-content: center;
padding: 0 1em;
}
.card3{
  width: 130px;
}

/* section5 ends */

/* section6 starts */
.section6{
  margin: 2em 1em;
  background-color: #EEF1F7;
  
  display: flex;
  padding: 1em;
  flex-direction: column;
  gap: 15px;
  
  
}
.sec6-content{
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.check{
  display: flex;
  gap: 5px;
}
.sec6-img img,.section7 img ,.sec9-img img{
  max-width: 100%;
  height: auto;
  display: block;
}


/* section6 ends*/

/* section7 starts */
.section7{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  padding: 1em;
  background-color: #111827;
  color: white;
}
/* section7 ends */

/* section8 starts */
.section8{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 3em 1em;
}
.sec8-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.sec8-card{
  width: 250px;
  height: 210px;
  border: 1px solid rgb(189, 185, 185);
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
padding: 0.8em;
gap: 5px;
}
/* section8 ends */


/* section9 starts */
.section9{
  margin: 2em 1em;
  padding: 2em;
  padding-left: 2em;
  background-color: #111827;
  color: white;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.sec9-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}
.sec9-content img{
  width: 50px;
}

/* section9 ends */

/* section10 starts */
.section10{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4em 1em;
  gap: 20px;
}

.sec10-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;
padding-bottom: 20px;
}
.sec10-cards{
  display:flex;
  align-items: center;
  justify-content: center;
 flex-wrap: wrap;
 gap: 10px;
}
.sec10-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  width: 250px;
  height: 320px;
  border-radius: 15px;
  align-items: flex-start;
  overflow: hidden;
  border: 2px solid rgba(128, 128, 128, 0.329);
  padding: 1em;
}
.sec10-card .google-logo{
  padding-top: 25px;
}
/* section10 ends */


@media (max-width: 530px) {
  .display-img {
    flex-direction: column;
  }
}

@media (max-width: 690px) {
  nav {
    align-items: flex-end;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  header .btns {
    display: none;
  }

  .hero-section {
    padding-top: 120px;
  }
}





@media (min-width: 800px) {
header{
  height: 80px;
  font-size: 1.2em;
}


  .content,.section2,.section6 ,.section9{
    flex-direction: row;
  }
  .content-child1,
  .content-child2 ,.sec6-content,.sec6-img,.sec9-content,.sec9-img{
    flex: 1;
    min-width: 0;
  }

  
}
