*{
margin: 0;
padding: 0;
box-sizing: border-box;
 font-family: "Roboto", sans-serif;
}

.container{
  max-width: 1500px;
  margin: 0 auto;
}

/* hero section starts */

.hero{
  min-height: 100vh;
  width: 100%;
 
  
}

/* header starts */

header{
  width: 100%;
  min-height: 70px;
  position: fixed;
  z-index: 1000;
  
  background-color: #e0dcdc;
  color: #00000033  ;
  padding: 0 1em;
  display: grid;
  align-items: center;
 grid-template-columns: auto 1fr auto;
 top: 0;
 
}

header a{
  text-decoration: none;
  color: black;
}
header .logo-anchor{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
   gap: 0.5em;
  font-weight: 900;
}

header .logo{
  width: 1.2em;
 
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-weight: 400;
}


.btns{
  display: flex;

}

.login-btn{
background-color: transparent;
  border: none;
   padding: 0.7em 0.5em;
   font-weight: 400;

}

.trial-btn{
  padding: 0.7em 0.9em;
  background-color: #0066FF;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 3px;
}
/* header ends */
.hero-section{
  display: flex;
flex-direction: column;
padding-top: 80px;
padding-left: 1em;
padding-right: 1em;
padding-bottom: 1em;
margin: 0 auto;
justify-content: center;
width: 100%;
}
.content{
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  
}
.content-child1, .content-child2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

}

.hero-sec-text h1{
  font-size: 2em;
margin-top: 0.8em;
margin-bottom: 0.8em;
font-weight: 900;
}
.hero-sec-text p{
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 1em;
}
.hero-sec-btn{
  margin-bottom: 1em;
display: flex;
flex-wrap: nowrap;
}
.hero-sec-btn .email{
 width: 250px;
 height: 35px;
 padding: 0.3em;
}
.blue-btn{
  border-radius: 0;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
margin-left: -4px;
height: 35px;
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}



.trial-options ul{
  padding: 0 1em;
  display: flex;
  align-items: flex-start;
  gap: 10%;
 white-space: nowrap;
}
.images{
  display: flex;
  padding-top:2em ;
 
}

.front{
  display: flex;
  flex-direction: column;
}
.profile-container{
  border: none;
  box-shadow: 3px 3px 3px rgba(124, 123, 123, 0.2);
  width: 300px;
  border-radius: 10px;

  display: flex;
align-items: center;
justify-content: center;
  
}





/* hero section ends */
