* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* hero section starts */

.hero {
  min-height: 100vh;
  width: 100%;
}

/* header starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  z-index: 1000;
  background-color: #e0dcdc;
  color: #00000033;
  padding: 1em 1em;
}

.header-container {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
}
header .logo-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  gap: 0.5em;
  font-weight: 900;
}

header .logo {
  width: 1.2em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in;
}
nav a:hover,
.trial-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btns {
  display: flex;
}

.login-btn {
  background-color: transparent;
  border: none;
  padding: 0.7em 0.5em;
  font-weight: 400;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.trial-btn {
  padding: 0.7em 0.9em;
  background-color: #0066ff;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 3px;
}
/* header ends */
.hero-section {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}
.content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}
.content-child1,
.content-child2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.hero-sec-text h1 {
  font-size: 2em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-weight: 900;
}
.hero-sec-text p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 1em;
}
.hero-sec-btn {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
}
.hero-sec-btn .email {
  width: 250px;
  height: 35px;
  padding: 0.3em;
  border: 1px solid;
  border-right: none;
}
.blue-btn {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -4px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.trial-options ul {
  padding: 0 1em;
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
  white-space: nowrap;
}

.profile-container {
  border: none;
  box-shadow: 3px 3px 3px rgba(124, 123, 123, 0.2);
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile-img img {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.profile-text {
  display: flex;
  flex-direction: column;
}
.profile-text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.profile-text-content .profile-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.display-img {
  display: flex;
  max-width: 100%;
}
.front-img img {
  animation: float 4s ease-in-out infinite;
}

.display-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.back-img {
  display: flex;
  flex-direction: column;
}
.back-img img:nth-child(1) {
  animation: float 4.5s ease-in-out infinite;
  animation-delay: 0.5s;
}

.back-img img:nth-child(2) {
  animation: float 5s ease-in-out infinite;
  animation-delay: 1s;
}
.logos {
  margin: 1em auto;
}

.logos img {
  max-width: 100%;
  height: auto;
}
/* hero section ends */

/* section2 starts */
.section2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4em;
   margin-bottom: 4em;
}

.widgets {
  padding: 1em;
}
.widgets h2 {
  margin-bottom: 1em;
}

.item {
display: flex;
align-items: center;
gap: 15px;
margin-bottom: 10px;
}
.special-item{
  color:  #0066FF;
;
}

/* section2 ends */

@media (max-width: 530px) {
  .display-img {
    flex-direction: column;
  }
}

@media (max-width: 690px) {
  nav {
    align-items: flex-end;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  header .btns {
    display: none;
  }

  .hero-section {
    padding-top: 120px;
  }
}

@media (min-width: 800px) {
  .content {
    flex-direction: row;
  }
  .content-child1,
  .content-child2 {
    flex: 1;
    min-width: 0;
  }

  .section2 {
    flex-direction: row;
  }
}
